.wrap {display: flex;}

.myinfo h2 {margin: 30px 0;}

.view {
    display: flex;
    margin: 13px 0;
    height: 30px;
}

.view p {
    width: 100px;
    font-weight: bold;
}

.view button {
    cursor: pointer;
    margin-left: 10px;
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    background: #838383;
    color: #fff;
    letter-spacing: 2px;
    line-height: 50%;
}