section {position: relative;}

.myinfo {
    position: absolute;
    left: 500px;
}

.title {padding: 30px 0;}

.view {margin-bottom: 10px;}

.view p {
    width: 100px;
    font-weight: bold;
}

.view button {
    cursor: pointer;
    margin-left: 10px;
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    background: #838383;
    color: #fff;
    letter-spacing: 2px;
    line-height: 50%;
    transition: 0.3s;
}

.view button:hover {
    background: #5c5c5c;
}

.myinfo button{
    cursor: pointer;
    margin-left: 10px;
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    background: #838383;
    color: #fff;
    letter-spacing: 2px;
    line-height: 50%;
    transition: 0.3s;
}

.myinfo button:hover {
	background: #5c5c5c;
}

#form2 .view input {
    margin: 3px 0;
    height: 30px;
}

#changePwdBtn{
    cursor: pointer;
    margin-left: 10px;
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    background: #838383;
    color: #fff;
    letter-spacing: 2px;
    line-height: 50%;
    transition: 0.3s;
}

#changePwdBtn:hover {
	background: #5c5c5c;
}