.sidebar {
	position: fixed;
    padding: 20px;
	width: 200px;
    height: 100%;
    right: 0px;
    background-color: #353535;
    color: #fff;
}

.sidebar hr {margin: 20px 0;}
.sidebar h4 {margin-bottom: 10px;}

/* 알림 */
.alert a {
    color: #fff;
    padding: 5px 0;
}

.alert a:hover {
    text-decoration: underline;
    text-underline-position: under;
}

/* 현재 펀딩중인 목록 */
.fundList a div {
    color: #fff;
    padding: 5px 0;
}

.fundList a div:hover {
    text-decoration: underline;
    text-underline-position: under;
}