section {
    margin: 130px auto;
    width: 270px;
}

.int {
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
}

/* 아이디 */
.int_id {}

.int_id input {
    height: 25px;
}

/* 비밀번호 */
.int_pw {}

.int_pw input {
    height: 25px;
}

/* 로그인 버튼 */
.sub_login {
}

.btn_login {
    cursor: pointer;
    padding: 5px 0;
    width: 100%;
    background-color: #3E3636;
    color: #fff;
    font-weight: bold;
    font-size: 15px;
    letter-spacing: 2px;
}

.btn_join {
    display: flex;
    justify-content: center;
    padding: 10px;
}

.btn_join p {
    margin-right: 10px;
}

.btn_join a {
    color: #980000;
    font-weight: bold;
    text-decoration: underline;
}