<!-- html -->
<link rel="stylesheet" href="../../static/css/style.css" th:href="@{/css/style.css}">

<header>
    <!-- 로고 -->
    <div class="logo">
        <a href="../main/home.html" th:href="@{/}"><img src="/img/favicon/android-icon-72x72.png" alt="logo"></a>
    </div>
    
    <!-- 메뉴 -->
    <div class="menu">
        <ul>
            <li><a href="../fundTarget/fundTargetList.html" th:href="@{/fundTarget}">지정 펀딩</a></li>
            <li><a href="../fundBoard/fundBoard_list.html" th:href="@{/fundBoard/list}">미지정 펀딩</a></li>
        </ul>
    </div>
    
    <!-- 로그인 -->
    <div class="login">
        <ul>
            <li><a href="../user/loginForm.html" sec:authorize="isAnonymous()" th:href="@{/user/login}">로그인</a></li>
            <li><a href="../user/userCreateForm.html" sec:authorize="isAnonymous()" th:href="@{/user/register}">회원가입</a></li>
        </ul>
        <!-- 로그인 상태일 때 -->
        <div sec:authorize="isAuthenticated()">
            <ul class="nav_user" th:each="user: ${userData}">
                <li><a href="#" sec:authorize="isAuthenticated()" th:href="@{/user/logout}">로그아웃</a></li>
                <li class="user_name" th:text="${user.nickname}"></li>
                <li class="user_role" th:text="${user.role}"></li>
                <li><a href="../pay/confirm.html" th:href="@{/pay/confirm}">결제</a></li>
            </ul>
        </div>
    </div>
</header>