section {
    margin: 50px auto;
    width: 450px;
    border: 1px solid #A6A6A6;
    background: #f4f4f4;
    border-radius: 10px;
}

section h1 {margin: 30px 30px;}

/* 결제 내역 */
table, td {
    padding: 10px 30px;
    /* border: 1px solid; */
    border-collapse: collapse;
}

td:first-child {
    width: 150px;
    font-weight: bold;
    text-align: center;
}

td:last-child {width: 300px;}

/* 버튼 */
.btn {
    display: flex;
    justify-content: center;
    margin: 30px auto;
    width: 100%;
}

.btn a {
    /* display: inline-flex; */
    padding: 10px 20px;
    background-color: #3E3636;
    border-radius: 5px;
    color: #fff;
    font-weight: bold;
    letter-spacing: 2px;
    transition: 0.5s;
}

.btn:hover a {
    background-color: #5e5252;
}