section {
    margin: 0 auto;
    width: 1200px;
}

/* 타이틀 */
.title {
    margin: 10px auto;
    width: 150px;
    text-align: center;
}

/* 카테고리 */
.categorie {
    display: flex;
    justify-content: center;
    margin: 30px auto;
    width: 600px;
}

.categorie a {
    margin-right: 30px;
    font-size: 17px;
    font-weight: bold;
}

.categorie a::after {
    content: "";
    padding: 0 0.5px;
    margin-left: 30px;
    background: #6f6f6f;
}

.categorie a:last-child {margin-right: 0;}

.categorie a:last-child::after {
    padding: 0;
    margin-left: 0;
}

.cate.active {color: #B00E0E;}



