<!-- 지정 펀딩 등록 -->
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Let's Funding</title>
    <link rel="stylesheet" href="../../static/css/style.css" th:href="@{/css/style.css}">
    <link rel="stylesheet" href="../../static/css/fundTarget/fundTargetForm.css" th:href="@{/css/fundTarget/fundTargetForm.css}">
</head>
<body>
    <!-- 홈페이지 상단 nav -->
    <header>
        <!-- 로고 -->
        <div class="logo">
            <a href="../main/home.html" th:href="@{/}">Let's Funding</a>
        </div>

        <!-- 메뉴 -->
        <div class="menu">
            <ul>
                <li><a href="../fundTarget/fundTargetList.html" th:href="@{/fundTarget}">지정 펀딩</a></li>
                <li><a href="#">미지정 펀딩</a></li>
            </ul>
        </div>

        <!-- 로그인 -->
        <div class="login">
            <ul>
                <li><a href="../user/loginForm.html" th:href="@{/user/login}">로그인</a></li>
                <li><a href="../user/userCreateForm.html" th:href="@{/user/register}">회원가입</a></li>
            </ul>
        </div>
    </header>

    <section>
		<div>
            <form th:object="${targetForm}" method="post">
                <div class="title">
                    <h2>콘서트 등록하기</h2>
                </div>
                <div class="con">
                    <div class="con_detail">
                        <div class="int int_cate">
                            <label>카테고리</label>
                            <select class="sel_cate" name="categorie">
                                <option th:each="cate : ${cList}" th:value="${cate.id}" th:text="${cate.categoryName}"></option>
                            </select>
                        </div>
                        
                        <div class="int int_title">
                            <label>제목</label>
                            <input type="text" th:field="*{subject}" autocomplete="off">
                        </div>
                        
                        <div class="int int_content">
                            <label>내용</label>
                            <input type="text" th:field="*{content}" autocomplete="off">
                        </div>
                        
                        <div class="int int_art">
                            <label>공연자</label>
                            <input type="text" name="artiest" value="" autocomplete="off">
                        </div>
                        
                        <div class="int int_place">
                            <label>장소</label>
                            <input type="text" th:field="*{place}" autocomplete="off">
                        </div>
                        
                        <div class="int int_runtime">
                            <label>공연 런타임</label>
                            <input type="text" th:field="*{runtime}" autocomplete="off" placeholder="분 단위 입력">
                        </div>
                        
                        <div class="int int_duration">
                            <label>펀딩 기간<br/>(오늘부터 시작)</label>
                            <input class="duration" type="date" th:field="*{fundDurationE}" max="" autocomplete="off">
                        </div>
                        
                        <div class="int int_start">
                            <label>공연 시작일</label>
                            <input class="date" type="date" th:field="*{startDate}" value="" autocomplete="off">	
                            <input class="time" type="time" th:field="*{startTime}" value="" autocomplete="off">	
                        </div>
                        
                        <div class="int int_minfund">
                            <label>최소 펀딩 금액</label>
                            <input type="text" th:field="*{minFund}" value="" autocomplete="off">
                        </div>
                        
                        <div class="int int_amountfund">
                            <label>총 펀딩금액</label>
                            <input type="text" th:field="*{fundAmount}" value="" autocomplete="off">
                        </div>
                    </div>
                    
                    <div class="image"></div>
                </div>
				<button type="submit">만들기</button>
			</form>
            
		</div>
    </section>
</body>
</html>