<!-- 지정 펀딩 세부내용 -->
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Let's Funding</title>

    <!-- CSS -->
    <link rel="stylesheet" href="../../static/css/fundTarget/fundTargetDetail.css" th:href="@{/css/fundTarget/fundTargetDetail.css}">

    <!-- favicon -->
    <link rel="shortcut icon" href="/img/favicon/ms-icon-310x310.png" type="image/x-icon" />
</head>
<body>
    <!-- 홈페이지 상단 nav -->
    <header th:replace="/main/nav"></header>

    <section>
        <!-- 콘서트 정보 -->
        <div class="con">
            <div class="left">
                <div class="cate">
                    <a href="/fundTarget">
                        <p th:text="|지정펀딩 > ${fundBoardTarget.categorie.categorieName}|">지정 펀딩 > 카테고리1</p>
                    </a>
                </div>
                <h2 th:text="|${fundBoardTarget.subject}(${fundBoardTarget.fundUser.nickname})|">공연 이름+글쓴이</h2>
                <div class="image">
					<div th:if="${fundBoardTarget.imgPath != null}">
						<img th:src="${fundBoardTarget.imgPath}" width="300" height="350">
					</div>
					<div th:if="${fundBoardTarget.imgPath == null}">
						<img th:src="|/fundTarget/img/${fundBoardTarget.id}|" width="300" height="350">
					</div>
                </div>
            </div>
            <div class="right">
                <div class="status">
                    <div th:text="${fundBoardTarget.status}">상태</div>
                </div>
                <div class="view">
                    <label for="artist">아티스트</label>
                    <p th:text="${fundBoardTarget.artiest}">아티스트</p>
                </div>
                <div class="view">
                    <label for="startDate">공연일</label>
                    <p th:text="${#temporals.format(fundBoardTarget.startDate, 'yyyy-MM-dd HH:mm')}">공연일</p>
                </div>
                <div class="view">
                    <label for="place">공연장</label>
                    <p th:text="${fundBoardTarget.place}">공연장</p>
                </div>
                <div class="view">
                    <label for="runtime">공연시간</label>
                    <p th:text="|${fundBoardTarget.runtime}분|">공연시간</p>
                </div>
                
                <hr/>

                <div>
                    <div class="view">
                        <label for="duration">펀딩기간</label>
                        <p th:text="${fundBoardTarget.fundDurationS}
                         + ' ~ ' + ${fundBoardTarget.fundDurationE}">2022.11.19 (토) ~ 2022.12.19 (일)</p>
                    </div>
                    <div class="view funding">
                        <label for="funding">펀딩금액</label>
                        <p th:text="${fundBoardTarget.fundCurrent}">7,600,000</p>
                        <p>/</p>
                        <p th:text="${fundBoardTarget.fundAmount}">8,000,000</p>
                    </div>
                    <div class="view">
                        <label for="count">현재 인원</label>
                        <p>76명</p>
                    </div>
                    <div class="view minFund">
                        <label for="minFund">최소 펀딩 금액</label>
                        <p th:text="${fundBoardTarget.minFund}">100,000원</p>
                    </div>
                    <button class="btn" th:onclick="'location.href=\''+ @{|/pay/tossPay/${fundBoardTarget.id}|} + '\''">펀딩하기</button>
                    
                </div>
            </div>
        </div>

        <hr/>

        <!-- <nav id="navbar-example2" class="navbar bg-light px-3 mb-3">
            <ul class="nav nav-pills">
                <li class="nav-item">
                    <a class="nav-link" href="#scrollspyHeading1">First</a>
                </li>
            </ul>
            <ul class="nav nav-pills">
                <li class="nav-item">
                    <a class="nav-link" href="#scrollspyHeading2">Second</a>
                </li>
            </ul>
        </nav> -->
        
        <!-- 콘서트 내용 -->
        <div class="con_text">
            <div class="title">
                <h2>콘서트 내용</h2>
            </div>
            <div th:utext="${fundBoardTarget.content}">설명</div>
        </div>
        
        <hr/>

        <!-- 댓글 -->
        <div class="con_comment">
            <div class="title">
                <h2>댓글</h2>
            </div>
            <div class="cmt_form">
                <form th:action="@{|/answer/target/create/${fundBoardTarget.id}|}" method="POST">
                    <textarea class="int_cmt" name="content" placeholder="내용을 입력하세요."></textarea>
                    <button class="btn_cmt" type="submit">등록</button>
                </form>
            </div>
            
            <div class="cmt_view" th:each="answer : ${aList}">
                <div class="cmt">
                    <div class="cmt_head">
                        <p class="id" th:text="${answer.fundUser.nickname}">아이디</p>
                        <p class="time" th:text="${#temporals.format(answer.createDate, 'yyyy-MM-dd HH:mm')}">2022-11-21 10:25</p>
                        <a class="cmt_delete" th:href="@{|/answer/delete/${answer.id}?location=target&id=${fundBoardTarget.id}|}">삭제</a>
                    </div>
                    <p th:text="${answer.content}">댓글 내용</p>
                </div>
            </div>
        </div>
        </section>

    </body>
</html>