<!-- 지정 펀딩 등록 -->
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Let's Funding</title>
    <link rel="stylesheet" href="../../static/css/style.css" th:href="@{/css/style.css}">
    <link rel="stylesheet" href="../../static/css/fundTarget/fundTargetForm.css" th:href="@{/css/fundTarget/fundTargetForm.css}">
</head>
<body>
    <!-- 홈페이지 상단 nav -->
    <header>
        <!-- 로고 -->
        <div class="logo">
            <a href="../main/home.html" th:href="@{/}">Let's Funding</a>
        </div>

        <!-- 메뉴 -->
        <div class="menu">
            <ul>
                <li><a href="../fundTarget/fundTargetList.html" th:href="@{/fundTarget}">지정 펀딩</a></li>
                <li><a href="../fundBoard/fundBoard_list.html" th:href="@{/fundBoard/list}">미지정 펀딩</a></li>
            </ul>
        </div>

        <!-- 로그인 -->
        <div class="login">
            <ul>
                <li><a href="../user/loginForm.html" th:href="@{/user/login}">로그인</a></li>
                <li><a href="../user/userCreateForm.html" th:href="@{/user/register}">회원가입</a></li>
            </ul>
        </div>
    </header>

    <section>
		<div>
			<form th:object="${targetForm}" method="post" enctype="multipart/form-data">
				<div class="title">
					<h2>지정 펀딩</h2>
				</div>
				<div class="int int_cate">
					<label for="category">카테고리</label>
					<select name="categorie">
						<option th:each="cate : ${cList}" th:value="${cate.id}" th:text="${cate.categorieName}"></option>
					</select>
				</div>
				<div class="int int_title">
					<label for="title">제목</label>
					<input id="title" type="text" th:field="*{subject}" autocomplete="off">
				</div>
				<div class="int int_artist">
					<label for="artist">공연자</label>
					<input id="artist" type="text" name="Aertiest" value="" autocomplete="off">
				</div>
				<div class="int int_place">
					<label for="place">장소</label>
					<input id="place" type="text" th:field="*{place}" autocomplete="off">
				</div>
				<div class="int int_runtime">
					<label for="runtime">공연 런타임</label>
					<input id="runtime" type="text" th:field="*{runtime}" autocomplete="off" placeholder="분 단위 입력">
				</div>
				<div class="int int_period">
					<label for="duration">펀딩 기간 <span>(오늘부터 시작)</span></label>
					<input id="duration" type="date" th:field="*{fundDurationE}" max="" autocomplete="off">
					
				</div>
				<div class="int int_date">
					<label for="date">공연일</label>
					<input id="date" type="date" th:field="*{startDate}" value="" autocomplete="off">	
					<input type="time" th:field="*{startTime}" value="" autocomplete="off">	
				</div>
				<div class="int int_minfund">
					<label for="minFund">최소 펀딩 금액</label>
					<input id="minFund" type="number" th:field="*{minFund}" value="" autocomplete="off">
				</div>
				<div class="int int_amountFund">
					<label for="fundAmount">총 펀딩금액</label>
					<input id="fundAmount" type="number" th:field="*{fundAmount}" value="" autocomplete="off">
				</div>
				<div class="int int_content">
					<label for="content">콘서트 내용</label>
					<input id="content" type="text" th:field="*{content}" autocomplete="off">
				</div>
				
				<label for="image">대표 이미지</label>
				<!-- 대표이미지 선택 -->
				<div class="int_image">
					<input id="rad1" type="radio" name="imgPath" value="https://cdn.huffingtonpost.kr/news/photo/202101/105466_198431.jpeg"> 
						<label for="rad1"><img src="https://cdn.huffingtonpost.kr/news/photo/202101/105466_198431.jpeg" alt="이미지1"
						width="100" heigth="100"></label>
					<input id="rad2" type="radio" name="imgPath" value="https://en.pimg.jp/066/591/114/1/66591114.jpg"> 
					<label for="rad2">
						<img src="https://en.pimg.jp/066/591/114/1/66591114.jpg" alt="이미지1"
						width="100" heigth="100">
					</label>
				</div>
				<!-- //대표이미지 선택 -->
				
				<!-- 파일 업로드 -->
				<div class="int_file">
					<input type="file" multiple="multiple" name="file" />
				</div>
				<!-- //파일 업로드 -->
				
				<!-- 이미지 아무것도 선택 안하면 에러 출력 -->
				<div th:if="${#fields.hasAnyErrors()}">
					<div th:each="err : ${#fields.allErrors()}" th:text="${err}"></div>
				</div>
				<!-- //이미지 아무것도 선택 안하면 에러 출력 -->

				<button type="submit">작성 완료</button>
			</form>
            
		</div>
    </section>
</body>
</html>