<!-- 로그인 -->
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Let's Funding : 내 정보</title>
    
    <!-- favicon -->
    <link rel="shortcut icon" href="/img/favicon/ms-icon-310x310.png" type="image/x-icon" />
</head>
<body>
    <!-- 홈페이지 상단 nav -->
    <header th:replace="/main/nav"></header>
    
    <h2>내 정보 조회</h2>
    <div>아이디 : <span th:text="${myInfo.username}"></span></div>
    <div>비밀번호 : <span>***********</span></div>
    <div>이름 : <span th:text="${myInfo.nickname}"></span></div>
    <div>이메일 : <span th:text="${myInfo.email}"></span></div>
    <div hidden>생년월일 : <span id="birth" th:text="${myInfo.birth}"></span></div>
    <div>생년월일 : <span id="birth2"></span></div>
    <div>성별: <span th:text="${myInfo.gender}"></span></div>
    <div>권한: <span th:text="${myInfo.role}"></span></div>
    <button th:onclick="'location.href=\''+ @{|/user/modify/${myInfo.username}|} + '\''">정보 수정</button>
</body>
<script>
	let birthCut = $('#birth').text().substring(0,10)
	$('#birth2').html(birthCut)
</script>

</html>