<!-- 내 정보 -->
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Let's Funding : 내 정보</title>

    <!-- CSS -->
    <link rel="stylesheet" href="/css/user/myinfo.css">

    <!-- favicon -->
    <link rel="shortcut icon" href="/img/favicon/ms-icon-310x310.png" type="image/x-icon" />
</head>
<body>
    <!-- 홈페이지 상단 nav -->
    <header th:replace="/main/nav"></header>

    <section>

        <!-- nav -->
        <nav th:replace="/main/usernav"></nav>
        
        <!-- 내 정보 조회 -->
        <div class="myinfo">
            <div class="title">
                <h2>회원 정보</h2>
            </div>

            <div class="view"><p>아이디</p><span th:text="${myInfo.username}"></span></div>
            <div class="view"><p>비밀번호</p><span>***********</span><button>변경</button></div>
            <div class="view"><p>이름</p><span th:text="${myInfo.nickname}"></span></div>
            
            <div id="mobile1" ><p>전화번호</p><span id="mob" th:text="${myInfo.mobile}"></span><button id="mobileBtn1">변경</button></div>
            <form id="form" action="/user/resetMobile" method="post">
            	<div id="mobile2" hidden><p>전화번호</p><input id="mobileModi" type="text" name="mobile" th:value="${myInfo.mobile}"></input><button id="mobileBtn2">저장</button></div>
            </form>
            <div id="mobileCheckResult"></div>
            
            <div class="view"><p>이메일</p><span th:text="${myInfo.email}"></span><button>변경</button></div>
            <div>생년월일 <span th:text="${#dates.format(myInfo.birth, 'yyyy-MM-dd')}"></span></div>
            <div class="view"><p>성별</p><span th:text="${myInfo.gender}"></span></div>
            <div class="view"><p>권한</p><span th:text="${myInfo.role}"></span></div>
        </div>
    </section>
</body>
<script>
	let mobileCut = $('#mob').text().substring(0,3)+" - "+$('#mob').text().substring(3,7) +" - "+$('#mob').text().substring(7,11)
	$(document).ready($('#mob').html(mobileCut))
	
	$('#mobileBtn1').click(function(){
		$('#mobile1').attr('hidden','hidden')
		$('#mobile2').removeAttr('hidden')
	})
	
	$('#form').submit(function(){
		
	    	let mobile = $('#mobileModi').val()
	        let mobileCheck =  /^\d{11}$/
	        if (!mobileCheck.test(mobile)){
				$('#mobileCheckResult').html('전화번호 11자리를 올바르게 입력하세요.')
				$('#mobile2').focus()
	        	return false
	        }
	        alert("변경 되었습니다!")
	        $('#mobileCheckResult').html('')
	})
	
	
</script>

</html>