<!-- 회원가입 -->
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Let's Funding : 회원가입</title>
    <link rel="stylesheet" href="../../static/css/style.css" th:href="@{/css/style.css}">
    <link rel="stylesheet" href="../../static/css/user/userCreateForm.css" th:href="@{/css/user/userCreateForm.css}">
</head>
<body>
    <!-- 홈페이지 상단 nav -->
    <header>
        <!-- 로고 -->
        <div class="logo">
            <a href="../main/home.html" th:href="@{/}">Let's Funding</a>
        </div>

        <!-- 메뉴 -->
        <div class="menu">
            <ul>
                <li><a href="../fundTarget/fundTargetList.html" th:href="@{/fundTarget}">지정 펀딩</a></li>
                <li><a href="#">미지정 펀딩</a></li>
            </ul>
        </div>

        <!-- 로그인 -->
        <div class="login">
            <ul>
                <li><a href="../user/loginForm.html" th:href="@{/user/login}">로그인</a></li>
                <li><a href="../user/userCreateForm.html" th:href="@{/user/register}">회원가입</a></li>
            </ul>
        </div>
    </header>

    <section>
        <div class="title">
            <h2>회원가입</h2>
        </div>

        <form>
            <!-- 아이디 -->
            <div class="int int_userId">
                <label for="id">아이디</label>
                <input type="text"/>
            </div>

            <!-- 비밀번호 -->
            <div class="int int_password">
                <label for="password">비밀번호</label>
                <input type="password"/>
            </div>

            <!-- 비밀번호 확인 -->
            <div class="int int_pw_check">
                <label for="password_check">비밀번호 확인</label>
                <input type="password"/>
            </div>

            <!-- 이름 -->
            <div class="int int_name">
                <label for="name">이름</label>
                <input type="text"/>
            </div>

            <!-- 닉네임 -->
            <!-- 중복확인 -->
            <div class="int int_nickname">
                <label for="nickname">닉네임</label>
                <input type="text"/>
            </div>

            <!-- 이메일 -->
            <!-- 인증하기도 추가 -->
            <div class="int int_email">
                <label for="email">이메일</label>
                <input type="text"/>
                <div class="int_domain">
                    <p>@</p>
                    <select name="sel_domain" id="sel_domain">
                        <option value="">선택하기</option>
                        <option value="gmail.com">gmail.com</option>
                        <option value="naver.com">naver.com</option>
                        <option value="nate.com">nate.com</option>
                        <option value="kakao.com">kakao.com</option>
                        <option value="direct" class="direct">직접 입력</option>
                    </select>
                    <!-- 직접 입력 input box -->
                    <input type="text" id="int_direct" name="int_direct"/>
                </div>
                <button class="sub_email">인증번호 받기</button>
            </div>

            <!-- 생년월일 -->
            <div class="int int_birth">
                <label for="birth">생년월일</label>
                <div class="bir_wrap">
                    <input class="bir" type="text" placeholder="년(4)"/>
                    <select class="bir" name="sel_birth_mm" id="sel_birth_mm">
                        <option value="">선택하기</option>
                        <option value="01">1</option>
                        <option value="02">2</option>
                        <option value="03">3</option>
                        <option value="04">4</option>
                        <option value="05">5</option>
                        <option value="06">6</option>
                        <option value="07">7</option>
                        <option value="08">8</option>
                        <option value="09">9</option>
                        <option value="10">10</option>
                        <option value="11">11</option>
                        <option value="12">12</option>
                    </select>
                    <input class="bir" type="text" placeholder="일"/>
                </div>
            </div>

            <!-- 성별 -->
            <div class="int int_gender">
                <label for="gender">성별</label>
                <select name="sel_gender" id="sel_gender">
                    <option value="">선택하기</option>
                    <option value="남성">남성</option>
                    <option value="여성">여성</option>
                </select>
            </div>

            <!-- 주소 -->
            <div class="int int_address">
                <label for="address">주소</label>
                <span class="int_addr1">
                    <input name="postCode" type="text" id="postCode" placeholder="우편 번호" readonly>
                    <input type="text" class="btn_addr" onclick="btnPostCode()" value="우편번호 찾기" readonly>
                </span>
                <span class="int_addr2">
                    <input name="address" type="text" id="addr" placeholder="주소" readonly>
                    <input name="detailAddress" type="text" id="detailAddr" placeholder="상세 주소">
                    <input name="extraAddress" type="text" id="extraAddr" placeholder="참고 항목" readonly>
                </span>
            </div>

            <!-- 전화번호 -->
            <div class="int int_mobile">
                <label for="mobile">전화번호</label>
                <div class="mobile">
                    <p>010</p>
                    <input type="text" maxlength="16" placeholder="- 제외"/>
                </div>
            </div>

             <!-- 멤버타입 -->
             <div class="int_role">
                <div class="rad_user">
                    <label>유저</label>
                    <input type="radio" name="role" value="user"/>
                </div>
                <div class="rad_artist">
                    <label>아티스트</label>
                    <input type="radio" name="role" value="artist"/>
                </div>
            </div>
            
            <input class="btn_join" type="submit" value="가입하기"/>
        </form>
    </section>
    
    <!-- JQuery -->
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <!-- 카카오 우편번호 API -->
    <script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
    
    <script>
        $(function() {
            $("#sel_domain").change(function() {
                if($("#sel_domain").val() == "direct") {
                    $("#int_direct").show();
                } else {
                    $("#int_direct").hide();
                }
            });
        });
    </script>

    <script src="/js/userCreateForm.js"></script>
</body>
</html>