<!-- 회원가입 -->
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Let's Funding : 회원가입</title>
    <link rel="stylesheet" href="../../static/css/style.css" th:href="@{/css/style.css}">
    <link rel="stylesheet" href="../../static/css/user/userCreateForm.css" th:href="@{/css/user/userCreateForm.css}">
</head>
<body>
    <!-- 홈페이지 상단 nav -->
    <header>
        <!-- 로고 -->
        <div class="logo">	
            <a href="../main/home.html" th:href="@{/}">Let's Funding</a>
        </div>

        <!-- 메뉴 -->
        <div class="menu">
            <ul>
                <li><a href="../fundTarget/fundTargetList.html" th:href="@{/fundTarget}">지정 펀딩</a></li>
                <li><a href="#">미지정 펀딩</a></li>
            </ul>
        </div>

        <!-- 검색 -->
        <div class="search">
            <form action="#">
                <input class="int_search" type="text">
                <input class="btn_search" type="submit">
            </form>
        </div>

        <!-- 로그인 -->
        <div class="login">
            <ul>
                <li><a href="../user/loginForm.html" th:href="@{/user/login}">로그인</a></li>
                <li><a href="../user/userCreateForm.html" th:href="@{/user/register}">회원가입</a></li>
            </ul>
        </div>
    </header>

    <section>
        <div id="title">
            <h1>회원가입</h1>
        </div>


        <form id="form" th:object="${registerValidation}" method="post">
        
 		<!-- 에러확인 -->
		<div th:if="${#fields.hasAnyErrors()}">
		    <div th:each="err : ${#fields.allErrors()}" th:text="${err}" />
		</div>
		
            <!-- 아이디 -->
            <div class="int int_userId">
                <label for="id">아이디</label>
                <input type="text" th:field="*{username}">
                <input type="button" value="아이디 중복 확인" id="checkBtn">
                <div id="usernameCheckResult"></div>
                <div id="usernameCheckResult2"></div>
            </div>

            <!-- 비밀번호 -->
            <div class="int int_password">
                <label for="password1">비밀번호</label>
                <input type="password" th:field="*{password1}"/>
                <div id="pwd1CheckResult"></div>
            </div>

            <!-- 비밀번호 확인 -->
            <div class="int int_pw_check">
                <label for="password2">비밀번호 확인</label>
                <input type="password" th:field="*{password2}"/>
                <div id="pwd2CheckResult"></div>
            </div>

            <!-- 이름 -->
            <div class="int int_name">
                <label for="name">이름</label>
                <input type="text" th:field="*{nickname}"/>
                <div id="nicknameCheckResult"></div>
            </div>


            <!-- 이메일 -->
            <!-- 인증하기도 추가 -->
            <div class="int int_email">
                <label for="email">이메일</label>
                <input type="text" th:field="*{email}"/>
                <div id="emailCheckResult"></div>
                <div class="int_domain">
                    <p>@</p>
                    <select name="domain" id="sel_domain">
                        <option value="">선택하기</option>
                        <option value="gmail.com">gmail.com</option>
                        <option value="naver.com">naver.com</option>
                        <option value="nate.com">nate.com</option>
                        <option value="kakao.com">kakao.com</option>
                        <option value="direct" class="direct">직접 입력</option>
                    </select>
                    <!-- 직접 입력 input box -->
                    <input type="text" id="int_direct" th:field="*{domainDirect}"/>
                </div>
                <div id="DomainCheckResult"></div>
                <button class="sub_email">인증번호 받기</button>
            </div>

            <!-- 생년월일 -->
            <div class="int int_birth">
                <label for="birth">생년월일</label>
                <div class="bir_wrap">
                    <input class="bir" type="text" th:field="*{year}" placeholder="년(4)"/>
                    <select class="bir" name="month" id="sel_birth_mm">
                        <option value="">선택하기</option>
                        <option value="01">1</option>
                        <option value="02">2</option>
                        <option value="03">3</option>
                        <option value="04">4</option>
                        <option value="05">5</option>
                        <option value="06">6</option>
                        <option value="07">7</option>
                        <option value="08">8</option>
                        <option value="09">9</option>
                        <option value="10">10</option>
                        <option value="11">11</option>
                        <option value="12">12</option>
                    </select>
                    <input class="bir" type="text" th:field="*{day}" placeholder="일"/>
                </div>
            </div>

            <!-- 성별 -->
            <div class="int int_gender">
                <label for="gender">성별</label>
                <select name="gender" id="sel_gender">
                    <option value="">선택하기</option>
                    <option value="남성">남성</option>
                    <option value="여성">여성</option>
                </select>
            </div>

            <!-- 주소 -->
            <div class="int int_address">
                <label for="address">주소</label>
                <span class="int_addr1">
                    <input name="addr1" type="text" id="postCode" placeholder="우편 번호" readonly>
                    <input type="text" class="btn_addr" onclick="btnPostCode()" value="우편번호 찾기">
                </span>
                <span class="int_addr2">
                    <input name="addr2" type="text" id="addr" placeholder="주소" readonly>
                    <input name="addr3" type="text" id="detailAddr" placeholder="상세 주소">
                    <input name="addr4" type="text" id="extraAddr" placeholder="참고 항목" readonly>
                </span>
            </div>

            <!-- 전화번호 -->
            <div class="int int_mobile">
                <label for="mobile">전화번호</label>
                <div class="mobile">
                    <p>010</p>
                    <input type="text" maxlength="16" placeholder="- 제외" th:field="*{mobile}"/>
                </div>
            </div>

             <!-- 멤버타입 -->
             <div class="int_role">
                <div class="rad_user">
                    <label>유저</label>
                    <input type="radio" name="role" value="user"/>
                </div>
                <div class="rad_artist">
                    <label>아티스트</label>
                    <input type="radio" name="role" value="artist"/>
                </div>
            </div>
            
            <input id="submitBtn" class="btn_join" type="button" onclick="alert('ID 중복 검사는 필수입니다')" value="가입하기"/>
        </form>
    </section>
    
    <!-- JQuery -->
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <!-- 카카오 우편번호 API -->
    <script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
    
    <script>
        $(function() {
            $("#sel_domain").change(function() {
                if($("#sel_domain").val() == "direct") {
                    $("#int_direct").show();
                } else {
                    $("#int_direct").hide();
                }
            });
        });
    </script>

    <script src="/js/userCreateForm.js"></script>
    
    
    <!-- ajax 이용한 아이디 중복검사, 정규표현식이용 유효성 검사 -->
	<script>
	        
	    // 'checkBtn'라는 id를 가진 버튼 클릭 시 실행.
	    $("#checkBtn").click(function(){
	 
            // json 형식으로 데이터 set
            var params = {
              username      : $("#username").val()
            }
	                
	    	let username = $('#username').val()
	        let usernameCheck = /^[a-z0-9]+$/
	        if (!usernameCheck.test(username) || username.length<6){
				$(usernameCheckResult).html('아이디는 영소문자,숫자로 구성된 6글자 이상으로 조합하시오.');
	            $('#username').focus();
	            return false
	        }
	        
           // ajax 통신
            $.ajax({
                type : "POST",            // HTTP method type(GET, POST) 형식이다.
                url : "/user/usernameCheck",      // 컨트롤러에서 대기중인 URL 주소이다.
                data : params,            // Json 형식의 데이터이다.
                success : function(res){ // 비동기통신의 성공일경우 success콜백으로 들어옵니다. 'res'는 응답받은 데이터이다.
                    // 응답코드 > 0000

					if(res.code == "사용중인 아이디입니다"){
						$("#idCheckResult").html(res.code);
					}
					if(res.code == "사용 가능한 ID 입니다"){
						$('#form').attr( 'action' ,'/user/register' );
						$('#form').attr( 'id' ,'formActive' );
						$('#submitBtn').attr( 'type' ,'submit' );
						$('#submitBtn').attr( 'onclick' ,'' );
						
					}
				
					
                    $("#usernameCheckResult").html(res.code);
                },
                error : function(XMLHttpRequest, textStatus, errorThrown){ // 비동기 통신이 실패할경우 error 콜백으로 들어옵니다.
                    alert("통신 실패.")
                }
            }); 
        });
	            
	</script>
	
	
	
	<!-- 비밀번호 유효성 검사 -->
	<script>
		$('#form').on('submit',()=>{
	    	let pwdval = $('#password1').val()
	        let pwdokval = $('#password2').val()
	        let pwdcheck =  /^[a-zA-Z0-9~!@#$%^&*()`_+?:;'"{}]{1,16}$/
	        if (!pwdcheck.test(pwdval) || pwdval.length<8){
				$('#pwd1CheckResult').html('비밀번호는 영대소문자,숫자로 구성된 8글자 이상으로 조합하시오.')
	        	$('#password1').focus()
	        	return false
	        } else {
	        	if (pwdokval){
	            	if (pwdval!==pwdokval){
						$('#pwd2CheckResult').html('비밀번호가 일치하지 않습니다.')
	                    $('#password1').focus()
	                    return false
	                } 
	            } else {
					$('#pwd2CheckResult').html('비밀번호확인을 입력하시오.')
	                $('#password2').focus()
	                return false
	            }
	        }
	    })
	</script>
	
	<!-- 이름 유효성 검사 -->
	<script>
		$('#form').on('submit',()=>{
	    	let nickname = $('#nickname').val()
	        let nicknameCheck =  /^[가-힣]{2,4}$/
	        if (!nicknameCheck.test(nickname)){
				$('#nicknameCheckResult').html('한글 이름 2~4자 이내.')
	        	$('#nickname').focus()
	        	return false
	        }
	    })
	</script>
		
    
    <!-- 이메일 유효성 검사 -->
	<script>
		$('#form').on('submit',()=>{
	    	let email = $('#email').val()
	        let emailCheck =  /^[a-zA-Z0-9]+$/ 
	        if (!emailCheck.test(email)){
				$('#emailCheckResult').html('이메일을 정확히 입력하세요.')
	        	$('#email').focus()
	        	return false
	        }
	    })
	</script>
		
	<!-- 이메일 도메인 유효성 검사 -->
	<script>
		$('#form').on('submit',()=>{
	    	let Domain = $('#sel_domain').val()
	        let DomainCheck =  /^([a-z0-9\-]+\.)+[a-z]{2,6}$/
	        if (!DomainCheck.test(Domain)){
				$('#DomainCheckResult').html('도메인 주소를 정확히 입력하세요.')
	        	$('#sel_domain').focus()
	        	return false
	        }
	    })
	</script>
    
</body>
</html>