section h2 {
    margin: 30px;
}

.sec_fund {
    display: flex;
    justify-content: space-evenly;
    margin: 30px;
    width: 1000px;
}

.list_form {
    padding: 10px;
    width: 200px;
    height: 300px;
    border: 1px solid;
    border-radius: 30px;
}