section h2 {
    margin: 30px 60px;
}

.sec_fund {
    display: flex;
    justify-content: space-evenly;
    width: 1000px;
}

.list_form {
    cursor: pointer;
    padding: 22px;
    width: 210px;
    height: 300px;
    border: 1px solid;
    border-radius: 30px;
    text-align: center;
}

.list_form h3 {
    cursor: pointer;
    margin-top: 10px;
    overflow:hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}