section h2 {
    margin: 20px 60px;
}

.sec_fund {
    display: flex;
    justify-content: space-evenly;
    padding: 0 30px;
}

.list_form {
    cursor: pointer;
    padding: 22px 20px;
    width: 210px;
    height: 300px;
    border: 1px solid;
    border-radius: 25px;
    text-align: center;
}

.list_form p {
    cursor: pointer;
    margin-top: 10px;
    overflow:hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-weight: bold;
}