section {
    position: relative;
}

.title {padding: 30px 0;}

.payinfo {
    position: absolute;
    left: 270px;
}

table, th, td {
    box-sizing: border-box;
    cursor: default;
    border-collapse: collapse;
    border: 1px solid;
    text-align: center;
    padding: 5px 10px;
    font-family: 'Noto Sans KR', sans-serif;
}

thead {background: #dddddd;}

th:first-child {
    padding: 5px 5px;
}

th:nth-child(3) {width: 300px;}
th:nth-child(5) {width: 110px;}
th:nth-child(7) {width: 110px;}
th:nth-child(8) {width: 200px;}

/* 버튼 */
button {
    cursor: pointer;
    padding: 3px 6px;
}

/* 페이징 */
.page {
    display: flex;
}