.sec {margin: 30px 50px;}

.sec h2 {margin-left: 30px;}

.list {display: flex;}

.list_form {
    display: flex;
    margin: 10px;
}

.con_list {
    padding: 30px;
    width: 200px;
    border: 1px solid;
    border-radius: 30px;
}

