<!DOCTYPE html>
<html lang="ko">
<head>
    <title>환불하기</title>
    <meta charset="utf-8"/>
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <!--<link rel="stylesheet" href="/stylesheets/style.css" />-->
</head>
<body>
<section>
    <h1>환불하기</h1>
    <!--  <img src="/images/toss-tee.png" style="max-width: 100%" /> -->
    <h3>카카오 티셔츠</h3>
    <span>100원</span>
    <p>----------------------</p>
    <form action="result.html" th:action="@{/pay/cancel}" method="GET">
	    <div><label><input type="radio" name="method" value="결제 취소" checked/>환불하기</label></div>
	    <p>----------------------</p>
	    <input type="text"  id="paymentKey" placeholder="결제코드" name="paymentKey" />
	    <input type="text"  id="cancelReason" placeholder="환불사유" name="cancelReason" />
    </form>
	    <button id="cancel-button">환불하기</button>
</section>

<script>
    var button = document.getElementById("cancel-button");
    button.addEventListener("click", function () {

    	var a = document.getElementById("paymentKey").value;
        var b = document.getElementById("cancelReason").value;
        var json = {
        	paymentkey : a,
        	cancelReason : b,
        };
        console.log(json);
        location.href = '/pay/cancel?paymentKey=' + a + '&cancelReason='+b;
        
    });
</script>
</body>
</html>