<!DOCTYPE html>
<html>
<head>
    <title>결제 실패</title>
    <meta http equiv="x-ua-compatible" content="ie=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <!--<link rel="stylesheet" href="/stylesheets/style.css" />-->
</head>
<body>
<section>
    <h1>결제 실패</h1>
    <p>결제실패: [[${message}]]</p>
    <span>에러코드: [[${code}]]</span>
</section>
    <div class="confirm">
        <a href="/pay/loo/confirm">목록</a>
    </div>
    <div class="home">
        <a href="/">홈</a>
    </div>
</body>
</html>