<!DOCTYPE html>
<html lang="ko">
<head>
    <title>조회하기</title>
    <meta charset="utf-8"/>
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <!--<link rel="stylesheet" href="/stylesheets/style.css" />-->
</head>
<body>
<section>
    <h1>조회하기</h1>
    <!--  <img src="/images/toss-tee.png" style="max-width: 100%" /> -->
    <p>----------------------</p>
    <form th:action="@{/pay/lookupRquest}" method="GET">
	    <div><label><input type="radio" name="method" value="조회하기" checked/>결제조회하기</label></div>
	    <p>----------------------</p>
	    <input type="text"  id="orderId" placeholder="주문번호" name="orderId" value="" />
	    <button id="lookup-button" type="submit">조회하기</button>
    </form>
</section>

<script>
</script>
</body>
</html>