
<!DOCTYPE html>
<html>
<head>
    <title>결제 성공</title>
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <!--<link rel="stylesheet" href="/stylesheets/style.css" />-->
</head>
<body>
<section>
    <h1>결제 성공</h1>
    <h3>공연이름: [[${orderName}]]</h3>
    <h3>펀딩금액: [[${balanceAmount}]]원</h3>
    <h3>상태: [[${status}]]</h3>
    <h3>주문번호: [[${orderId}]]</h3>
</section>
    <div class="confirm">
        <a href="/pay/confirm">목록</a>
    </div>
    <div class="home">
        <a href="/">홈</a>
    </div>
</body>
</html>