<!DOCTYPE html>
<html lang="ko">
<head>
    <title>환불하기</title>
    <meta charset="utf-8"/>
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
</head>
<body>
<section>
    <h1>환불하기</h1>
    <p>----------------------</p>
    <form th:action="@{/pay/tarCancelRquest}" method="GET">
	    <div><label><input type="radio" name="method" value="환불하기" checked/>환불하기</label></div>
	    <p>----------------------</p>
	    <input type="text"  id="cancelReason" placeholder="환불사유" name="cancelReason" value="" />
	    <button id="cancel-button" type="submit">환불하기</button>
    </form>
</section>
    <div class="confirm">
        <a href="/pay/confirm">목록</a>
    </div>
    <div class="home">
        <a href="/">홈</a>
    </div>
<script>
</script>
</body>
</html>