section {
    margin: 0 auto;
    /* width: 900px; */
}

section label {
    display: inline-block;
    width: 130px;
    font-size: 15px;
    font-weight: bold;
}

.con {
    display: flex;
}

form {
    margin: 0 auto;
    width: 800px;
}

.int {
    display: flex;
    align-items: center;
    margin: 10px 30px 0 0;
}

.int input {
    height: 25px;
}

.image {
    width: 250px;
    height: 350px;
    background-color: #dedede;
}

.sel_cate {
    cursor: pointer;
    width: 205px;
    height: 27px;
}

.duration, .date, .time { cursor: pointer; display: inline-block; }

.date { margin-right: 10px; }