form {
    margin: 30px auto;
    padding: 5px 40px;
    width: 800px;
    border: 1px solid #575757;
    border-radius: 5px;
}

.int {
    display: flex;
    margin: 20px 0;
}

.int_m {display: flex;}

.int_cate {margin-right: 20px;}

.int_title input {width: 300px;}

section label {
    display: inline-block;
    padding-right: 20px;
    margin-bottom: 5px;
    font-size: 15px;
    font-weight: bold;
    text-align: center;
}

section select {width: 150px; height: 30px;}

section select, input[type=radio], img {cursor: pointer;}

.sel_cate {
    cursor: pointer;
    width: 205px;
    height: 27px;
}

#date { margin: 5px 0; }

/* 썸머노트 */
.note-toolbar {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.btn {
    margin: 0;
    padding: 2px 10px;
}

.note-btn-group {
    display: flex;
}

/* 대표 이미지 선택 */
.int_image, .int_file {
    margin: 5px 0;
}

.int_file input, .int_file button {
    cursor: pointer;
    padding: 7px 10px;
}

/* 작성 완료 버튼 */
section button {
    cursor: pointer;
    outline: none;
    margin: 30px 0;
    padding: 10px 30px;
    width: 100%;
    background-color: #3a2c2c;
    border-radius: 5px;
    color: #fff;
    font-weight: bold;
    font-size: 15px;
    letter-spacing: 2px;
    transition: 0.5s;
}

section button:hover {
    background-color: #5e5252;
}
