.sidebarbtn{
	position: fixed;
	width: 100px;
	height: 100px;
	right: 180px;
	top: 30px;
	border-radius: 10px;
	background-color: #353535;
	color: #fff;
	transition: 0.5s;
}
.sidebarbtn.active{
	transform: translateX(240px);
}

.sidebarbtn h1{
	line-height: 108px;
	text-align: left;
	margin: 0 12px;
}

.sidebar {
	position: fixed;
    padding: 20px;
	width: 200px;
    height: 100%;
    right: 0px;
    background-color: #353535;
    color: #fff;
    transition: 0.5s;
}

.sidebar hr {margin: 20px 0;}
.sidebar h4 {margin-bottom: 10px;}

.sidebar.active{
	 transform: translateX(240px);
}



/* 알림 */
.alert a {
    color: #fff;
    padding: 5px 0;
}

.alert a:hover {
    text-decoration: underline;
    text-underline-position: under;
}

/* 현재 펀딩중인 목록 */
.fundList a div {
    color: #fff;
    padding: 5px 0;
}

.fundList a div:hover {
    text-decoration: underline;
    text-underline-position: under;
}