<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>fundBoard_list</title>

	<style>
		table{
            border: 1px solid #000;
            border-collapse: collapse;
        }

        table thead{
            background-color:white;
            color:black;
        }

        th{
            border: 1px solid black;
            background-color:black;
            color:white
        }

        td{
            border: 1px solid black;
            color:black;
        }
	</style>
</head>
<body>
	<div id="warp">
		<div class="header">
			<h2>펀딩 작성</h2>
		</div>
		
		<div class="main">
			<table>
				<thead>
					<tr>
						<th>번호</th>
						<th>카테고리</th>
						<th>제목</th>
						<th>내용</th>
						<th>장소</th>
						<th>공연 시작 일자</th>
						<th>공연 시간</th>
						<th>펀딩 기간</th>
						<th>1인 최소 펀딩 금액</th>
						<th>펀딩 목표 금액</th>
						<th>펀딩 현재 금액</th>
						<th>현재 모집 인원</th>
						<th>펀딩 상태</th>
						<th>별점 투표 수</th>
						<th>별점 평균</th>
						<th></th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="fundBoard , loop : ${fundBoardList}">
						<td th:text="${loop.count}"></td>
						<td th:text="${fundBoard.categorie}"></td>
						<td th:text="${fundBoard.subject}"></td>
						<td th:text="${fundBoard.content}"></td>
						<td th:text="${fundBoard.place}"></td>
						<td th:text="${fundBoard.startDate}"></td>
						<td th:text="${fundBoard.runtime}"></td>
						<td th:text="${fundBoard.fundDuration}"></td>
						<td th:text="${fundBoard.minFund}"></td>
						<td th:text="${fundBoard.fundAmount}"></td>
						<td th:text="${fundBoard.fundCurrent}"></td>
						<td th:text="${fundBoard.currentMember}"></td>
						<td th:text="${fundBoard.state}"></td>
						<td th:text="${fundBoard.vote}"></td>
						<td th:text="${fundBoard.star}"></td>
						<td><a th:href="@{|/fundBoard/detail/${fundBoard.id}|}">자세히 보기</a></td>
					</tr>
				</tbody>
			</table>
			<!-- 페이징처리 시작 -->
		    <div th:if="${!fundBoardList.isEmpty()}">
		        <ul>
		            <li th:classappend="${!fundBoardList.hasPrevious} ? 'disabled'">
		                <a th:href="@{|?page=${fundBoardList.number-1}|}">
		                    <span>이전</span>
		                </a>
		            </li>
		            <li th:each="page: ${#numbers.sequence(0, fundBoardList.totalPages-1)}"
		            	th:if="${page >= fundBoardList.number-5 and page <= fundBoardList.number+5}"
		                th:classappend="${page == fundBoardList.number} ? 'active'">
		                <a th:text="${page}" th:href="@{|?page=${page}|}"></a>
		            </li>
		            <li th:classappend="${!fundBoardList.hasNext} ? 'disabled'">
		                <a th:href="@{|?page=${fundBoardList.number+1}|}">
		                    <span>다음</span>
		                </a>
		            </li>
		        </ul>
		    </div>
		    <!-- 페이징처리 끝 -->
			<a href="/fundBoard/create">등록하기</a>
		</div>

	</div>
	
</body>
</html>

