<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>fundBoard_detail</title>

	<style>
		table{
            border: 1px solid #000;
            border-collapse: collapse;
        }

        table thead{
            background-color:white;
            color:black;
        }

        th{
            border: 1px solid black;
            background-color:black;
            color:white
        }

        td{
            border: 1px solid black;
            color:black;
        }
	</style>
</head>
<body>
	<div id="warp">
	
		<!-- 홈페이지 상단 nav -->
	    <header>
	        <!-- 로고 -->
	        <div class="logo">
	            <a href="../main/home.html" th:href="@{/}">Let's Funding</a>
	        </div>
	
	        <!-- 메뉴 -->
	        <div class="menu">
	            <ul>
	                <li><a href="../fundTarget/fundTargetList.html" th:href="@{/fundTarget}">지정 펀딩</a></li>
	                <li><a href="../fundBoard/fundBoard_list.html" th:href="@{/fundBoard/list}">미지정 펀딩</a></li>
	            </ul>
	        </div>
	
	        <!-- 로그인 -->
	        <div class="login">
	            <ul>
	                <li><a href="../user/loginForm.html" th:href="@{/user/login}">로그인</a></li>
	                <li><a href="../user/userCreateForm.html" th:href="@{/user/register}">회원가입</a></li>
	            </ul>
	        </div>
	    </header>
	    
		<div class="main">
		
			<div>
				<a th:href="@{|/pay/tossPay/${fundBoard.id}|}"><button>결제하기</button></a>
			</div>
			<!--섹션1 시작-->
			<div>
				<div>
					<div>카테고리</div>
					<div th:text="${fundBoard.categorieName}"></div>
				</div>
				<div>
					<div>제목</div>
					<div th:text="${fundBoard.subject}"></div>
				</div>
				<div>
					<div>내용</div>
					<div th:utext="${fundBoard.content}"></div>
				</div>
				<div>
					<div>장소</div>
					<div th:text="${fundBoard.place}"></div>
				</div>
				<div>
					<div>펀딩 기간</div>
					<div th:text="${fundBoard.fundDuration}"></div>
				</div>
				<div>
					<div>공연 시작 일자</div>
					<div th:text="${fundBoard.startDateTime}"></div>
				</div>
				<div>
					<div>공연 시간</div>
					<div th:text="${fundBoard.runtime}"></div>
				</div>
				<div>
					<div>1인 최소 펀딩 금액</div>
					<div th:text="${fundBoard.minFund}"></div>
				</div>
				<div>
					<div>펀딩 목표 금액</div>
					<div th:text="${fundBoard.fundAmount}"></div>
				</div>
				<div>
					<span>펀딩 현재 금액</span>
					<span th:text="${fundBoard.fundCurrent}"></span>
				</div>
				<div>
					<div>현재 모집 인원</div>
					<div th:text="${fundBoard.currentMember}"></div>
				</div>
				<div>
					<div>펀딩 상태</div>
					<div th:text="${fundBoard.state}"></div>
				</div>
				<div>
					<div>별점 투표 수</div>
					<div th:text="${fundBoard.vote}"></div>
				</div>
				<div>
					<div>별점 평균</div>
					<div th:text="${fundBoard.star}"></div>
				</div>
			</div>		
			<!--섹션1 끝-->


			<!--섹션2 시작-->
			<div class="section2">
				<div th:each="answer : ${answerList}">
					<div th:text="${answer.content}">댓글 내용</div>
					<div th:text="${#temporals.format(answer.createDate, 'MM-dd HH:mm:ss')}">댓글 시간</div>
				</div>
			</div>
			<!--섹션2 끝-->

			<!--섹션3 시작-->
			<div class="section3">
				<form th:action="@{|/answer/fundBoard/create/${fundBoard.id}|}" method="GET">
					<input type="text" name="content" value="">
					<button type="submit">댓글 달기</button>
				</form>
			</div>
			<!--섹션3 끝-->
		</div>
	</div>

</body>
</html>
